@tailwind base;
@tailwind components;
@tailwind utilities;
 /* .divider {
   margin-top: 10px;
   padding-top: 5px;
   border-top: 1px solid #ccc;
   font-weight: bold;
 } */
input[type='checkbox'] {
  accent-color: green;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* .tab {
  
  border-radius: 15px 15px 0px 0px;
  background-color: #FFF;
  position: relative;
  border:1px solid;
  display: inline-block;
  z-index: 2;
} */

/* .tab:before {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  border-left: 1px solid;
 border-color: red;
 background-color: white;
  content: "";
  position: absolute;
 
  top: 0px;
  left: 0;
  -webkit-transform: skewX(40deg);
  transform: skewX(-20deg);
  z-index: -1;
} */
/* .tab:after {
  height: 100%;
  width: 100%;
  
  border-radius: 10px 10px 0px 0px;
  border-right: 1px solid;
  border-color: red;
  content: "";
  position: absolute;
  left: 104px;
  top: 0px;
  right: 0;
  -webkit-transform: skewX(40deg);
  transform: skewX(20deg);
  z-index: 20;
} */

 ::-webkit-scrollbar {
   width: 8px !important;
  overflow: hidden;

 }

 body {
   scrollbar-color: #DADADA #e4e4e4 !important;
 }

 ::-webkit-scrollbar-track {
   background-color: #a10d0d !important;
   border-radius: 500px !important;
   display: none !important;
   overflow: hidden;

 }

 ::-webkit-scrollbar-thumb {
   background-color: #DADADA !important;
   border-radius: 500px !important;
  overflow: hidden;
 }
